:root {
    --green: #00FF00;
    --white: #ffffff;  
    --black: #000000;
}
* {
    color: var(--fontColor);
    font-family: Helvetica;
}
body {
    background: var(--bg);
    font-family: monospace;    
    }    
    ul {    
    font-family: helvética;    
    }
    li {
        list-style: circle;        
        }        
        .list {        
        list-style: square;        
        }        
        #msg {        
        font-family: monospace;        
        }
        .light-theme {
            --bg:var(--green);
            --fontColor:var(--black);
            --btnBg: var(--black);
            --btnFontColor: var(--white);
            }
        .dark-theme {
            --bg:var(--black);
            --fontColor:var(--green);
            --btnBg: var(--white);
            --btnFontColor: var(--black);

        }
        .btn {
            position: absolute;
            top: 20px;
            left: 250px;
            height: 50px;
            width: 50px;
            border-radius: 50px;
            border: none;
            color: var(--btnFontColor);
            background-color: var(--btnBg);
        }
        .btn:focus {outline-style: none;}
    
        

            
        