* {
    margin: 0;
    padding: 0;
    font-family: Montserrat,sans-serif;
}

body {
    background: #1d2127;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn {
    width: 200px;
    height: 60px;
    background: none;
    border: 4px solid;
    color: rgb(118, 89, 199);
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    font-size: 16px;
    position: relative;
}

.btn::before, .btn::after {
    position: absolute;
    content: "";
    width: 14px;
    height: 4px;
    background: #1d2127;
    transform: skew(50deg);
    transition: .4s linear;
}

.btn::before {
    top: -4px;
    left: 10%;
}

.btn::after {
    bottom: -4px;
    right: 10%;
}

.btn:hover::before {
    left: 80%;
}

.btn:hover::after {
    right: 80%;
}