@media (max-width: 1250px) {
      .pricing-container {
        flex-direction: column;
        height: 100%;
      }
}

body {
    font-family: 'Sono', sans-serif;
  }
.pricing-container {
    display: flex;
    gap: 2rem;
    justify-content: center;
    height: 100vh;
    align-items: center;    
}

.pricing-plan {
    flex: 1;
    max-width: 400px;
    background-color: aliceblue;
    text-align: center;
    padding: 20px;
    border-radius: 6px;       
}

.plan-price {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 48px;
}

.plan-title {
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 10px;
}
.plan-features {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan-features li {
    margin-bottom: 10px;
}

.plan-button {
    background-color: rgb(248, 113, 3);
    border: none;
    padding: 10px;
    border-radius: 5px; 
    color: #fff;  
    cursor: pointer; 
}


