body {
  font-family: "Poppins", sans-serif;
  margin: 50px 50px 0 50px;
  background-color: #faf9f6;
  display: flex;
  flex-direction: column;
  min-height: 95vh;
}
.main {
  flex: 1;
  
}

h1 {
  font-size: 3.5rem;
  width: 60%;
  margin-bottom: 30px;
}

footer {
  text-align: right;
  color: midnightblue;
}


.card {
  width: 45%;
  text-align: justify;
  display: inline-block;
  margin-top: 20px;
 
}

.left {
  float: left;
  position: relative;
  
}

.right {
  float: right;
  position: absolute;
  margin-left: 50px;
}

span {
  color: midnightblue;
}

@media only screen and (min-width: 600px) {
    .card {
      width: 50%;
    }
  }
  @media only screen and (min-width: 600px) {
    .logo {
      width: 100px;
    }
  }

  .tile-image{
    width: 45%;
    display: block;
    margin-bottom: 30px;    
    height: 100px;
    margin-right: 40px;
    float: left;  
  }

  .card img {
    margin-bottom: 10px;
    width: 45%;
    height: 200px;
    display: block;
    object-fit: cover;
    float: left;
    
  }
