body {
    background-color: beige;
}

button {
    width: 100px;
    height: 30px;
    margin: 10px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
    border: 2px solid burlywood;background-color: #262626;
    color: yellow;
    cursor: pointer;
    
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    background-color: antiquewhite;
    color: antiquewhite;

}
.paragrafo {
    height: 200px;
    width: 200px;
    border: 2px solid rgb(118, 89, 199);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: rgb(118, 89, 199);
    cursor: pointer;
}

header {
    height: 40vh;
    position: relative;
    
}
h1 {
    background-color: black;
    color: yellow;
    margin: 0;
    padding: 0;
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
}

.imagem {
    width: 300px;
    height: 150px;
        
}
.coding {
    position: absolute;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

footer {
    background-color: black;
    height: 30vh;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}

