body {
    background-color: beige;
}

button {
    width: 100px;
    height: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    border-radius: 30px;
    border: 2px solid burlywood;background-color: #262626;
    color: yellow;
    cursor: pointer;
    font-size: 20px;    
}
.button {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    background-color: antiquewhite;
    color: antiquewhite;
    cursor: pointer;

}
.paragrafo {
    height: 200px;
    width: 200px;
    border: 2px solid rgb(118, 89, 199);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: rgb(118, 89, 199);
    }

header {
    height: 40vh;
    position: relative;
    
}
h1 {
    background-color: black;
    color: yellow;
    margin: 0;
    padding: 0;
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    position: relative;
}

.imagem {
    width: 300px;
    height: 150px;    
    border: 2px solid blue;
    padding: 30px;
    margin: 5px;
    border-radius: 15%;
    background-color: rgb(51, 24, 201);        
}


.coding {
    position: absolute;
    height: 100vh;
    display: flex;
    justify-content: center;
    
}

footer {
    background-color: black;
    height: 30vh;
    color: yellow;
    display: flex;
    justify-content: space-around;
    font-size: 30px;
}

footer ul{
    list-style: none;
    height: 20px;
    display: flex;
}
footer li {
    padding-inline: 150px;
    margin: 0;
    cursor: pointer;    
}

