main {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    background-color: antiquewhite;
    color: antiquewhite;

}
.paragrafo {
    height: 200px;
    width: 200px;
    border: 2px solid rgb(118, 89, 199);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: none;
    color: rgb(118, 89, 199);
    cursor: pointer;
}

header {
    background-color: black;
    color: yellow;
    margin: 0;
    padding: 0;
    display: flex;
    height: 20vh;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

footer {
    background-color: black;
    height: 30vh;
    color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}